

body {
  background-color: #232323;
  margin: 0;
  font-family: sans-serif;
  font-weight: normal;
  text-transform: uppercase;
}

.block {
  width: 25%;
  background: white;
  padding-bottom: 30%;
  float: left;
  margin: 1.66%;
  border-radius: 20%;
}

#container {
  margin: 20px auto;
  max-width: 600px;
}

h1 {
  color: white;
  line-height: 1.5;
  text-align: center;
  background-color: brown;
  margin: 0;
  padding: 20px 0;
}

#stripe {
  background: white;
  height: 30px;
  text-align: center;
  color: black;
}

.selected {
  color: brown;
  
}

#rgbCode {
  font-size: 200%;
}

button {
 
  text-transform: uppercase;
  font-family: sans-serif;
  height: 100%;
  font-weight: 800;
  color: brown;
  letter-spacing: 0.1em;
  font-size: inherit;
  
}

button:hover{
  color: white;
  background: brown;
}

#message{
  display: inline-block;
  width: 30%;
}

